:root {
  /**
    Colors
  */
  --color-text: #222;
  --color-background: white;
  --color-light: silver;
  --color-primary: #00aa00;
  --color-primary-dark: #007700;
  --color-secondary: #2e2eff;
  --color-secondary-dark: #171788;
  --color-tertiary: #aa0000;
  --color-tertiary-dark: #550000;

  /**
    Spacing and units
  */
  --unit: 1rem;
  --container-width: 100ch;

  /**
    Fonts
  */
  --font-family-sans-serif:
    system,
    -apple-system;

  @media (prefers-color-scheme: dark) {
    --color-text: #DDDDDD;
    --color-text-dark: #999999;
    --color-background: #222;
  }
}
